# Make vim the default editor
# use vim as the visual editor
export VISUAL=vim
export EDITOR=$VISUAL

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# enable colored output from ls, etc
export CLICOLOR=1

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# proxy settings
location=`/usr/sbin/networksetup -getcurrentlocation`

if [ "$location" == "work" ]
then
  export http_proxy=http://localhost:3128
  export https_proxy=$http_proxy
  export no_proxy="10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.0/8,localhost"
fi

if [ "$location" == "home" ]
then
  unset http_proxy
  unset https_proxy
fi

export rvm_max_time_flag=200