"*":
  "exception-reporting":
    userId: "d3b9a806-10d3-1ae4-ea99-ab235b9400ad"
  welcome:
    showOnStartup: false
  "autocomplete-ruby": {}
  "linter-foodcritic": {}
  core:
    ignoredNames: [
      ".git"
    ]
    projectHome: "~/code"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
    fontSize: 12
    fontFamily: "Source Code Pro"
    showIndentGuide: true
  "autocomplete-clang": {}
  "atom-beautify":
    _analyticsUserId: "6e575198-db1f-42c6-a572-63ff25b31005"
    language_c_beautify_on_save: true
    language_erb_beautify_on_save: true
    language_go_beautify_on_save: true
    language_java_beautify_on_save: true
    language_js_beautify_on_save: true
    language_json_beautify_on_save: true
    language_markdown_beautify_on_save: true
    language_ruby_beautify_on_save: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
